.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 190px;
}

.header-datepicker {
  position: relative;
}

.header-datepicker .datepicker {
  position: absolute;
}

.index__ranking {
  color: #679B9B;
}

.index__preform--div {
  width: 200px;
}

.index__preform--div:hover {
  background-color: #cad8d8;
}

.index__perform--img {
  width: 200px;
  /* padding: 10px; */
}

.index__perform--font {
  color: black;
}

.event-separator {
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-body .modal-img {
  width: 100%;
  height: 170px;
}

