.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 190px;
}

.header-datepicker {
  position: relative;
}

.header-datepicker .datepicker {
  position: absolute;
}

.event-separator {
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-body .modal-img {
  width: 100%;
  height: 170px;
}
