{% extends 'base.html' %}

{% block title %}
회원정보 수정
{% endblock title %}

{% block content %}
<div style="width: 360px; margin: 100px auto;">
  <div>
    <div style="font-size: 30px; margin-bottom: 30px;">회원 정보 수정</div>
    <form action="{% url 'accounts:update' %}" method="POST" class="my-3" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group my-3">
        {{ form.email.label }}
        {{ form.email }}
      </div>
      
      <div class="form-group my-3">
        {{ form.image.label }}
        {{ form.image }}
      </div>
  
      <div>
        <button type="submit" class="btn mt-3" style="background-color: #FFEADB;">회원 정보 수정</button>
        <a href="{% url 'accounts:change_password' %}" class="btn mt-3 ms-3 me-3">비밀번호 변경</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn mt-3 text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
          탈퇴하기
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">회원 탈퇴</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        가입된 회원정보 및 작성하신 게시물이 모두 삭제됩니다. 회원 탈퇴를 진행하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <a href="{% url 'accounts:delete' %}">
          <button type="button" class="btn btn-danger">탈퇴하기</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}