{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock style %}


{% block content %}
  <div class="create__total">
    <!--header-->
    <div class="create__header">
      <div><a class="create__header--text" href="{% url 'tcat:index' %}">취소</a></div>
      <div class="create__header--title">기록 추가</div>
      {% comment %} <div type="submit" onclick="document.getElementById('tcatForm').submit();">
        등록
      </div>
      <input type="submit" onclick="document.getElementById('tcatForm').submit();"> {% endcomment %}
    </div>

    <!--main-->
    <form id="tcatForm" action="{% url 'tcat:create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="create__main">
        <!--image-->
        <div class="d-flex align-items-center mb-3">
          <div class="filebox preview-image">
            <label for="input-file">사진 첨부하기 (1장)</label> 
            {% comment %} <input class="upload-name" value="파일선택" disabled="disabled" >         {% endcomment %}
            <input type="file" id="input-file" class="upload-hidden" name="image"> 
          </div>

          <p id='filename'></p>
          <button id="webImageButton" type="button" class="main__image--search">웹 이미지 검색</button>
          <input type="hidden" id="selectedImage" name="selectedImage" value="">
        </div>

        {% comment %} <div class="main__image">
          <div>{{ form.image }}</div>
        </div> {% endcomment %}

        <!--contents-->
        <div class="main__contents">
          <div class="contents__title">
            <div class="contents__title--title">제목</div>
            <input type="text" name="title" class="contents__title--input" required>
          </div>
          <div class="d-flex contents__date">
            <div class="contents__title--title">일시</div>
            <input type="date" name="date" id="calendar-date-input" value="select_date">
          </div>
          <div class="d-flex contents__location">
            <div class="contents__title--title">장소</div>
            {{ form.location }}
          </div>
          <div class="d-flex contents__price">
            <div class="contents__title--title">금액</div>
            {{ form.price }}
          </div>
          <div class="d-flex contents__categori">
            <div class="contents__title--title">카테고리</div>
            {{ form.categori }}
          </div>

          <div id="new_add">
            {{ dynamic_form.management_form }}
            {% for formset_form in dynamic_form %}
              <div>
                <input type="text" name="{{ formset_form.prefix }}-field_title" placeholder="필드 제목">
                <input type="text" name="{{ formset_form.prefix }}-field_value" placeholder="필드 값">
              </div>
            {% endfor %}
          </div>
  
          <div class="contents__add">
            <input type="button" value="+ 필드 추가" onclick='createDiv()' class="contents__add-plus">
            <input type="button" value="- 필드 삭제" onclick="deleteDiv()" class="contents__add-minus">
          </div>
          
          <div class="d-flex contents__review">
            {{ form.media }}
            <div>{{ form.review }}</div>
          </div>
        </div>
      </div>
      <input type="submit" value="등록" class="main__input">
    </form>    
  </div>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="enlargedImage">
      
      <img src="" alt=""/>
    </div>
    <!-- 통합 검색 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <form id="searchForm">
      <input type="text" id="query" placeholder="검색어를 입력하세요">
    </form>
    <div>
      <button id="kakaoSearchButton">카카오 검색</button>
      <button id="naverSearchButton">네이버 검색</button>
      <button id="goBack">&larr; 뒤로</button>
    </div>
    <button id="loadMore">더보기</button>
    
    <div id="searchResult"></div>
    
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");
    
      // Get the button that opens the modal
      var btn = document.getElementById("webImageButton");
    
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
    
      // Get the "go back" button that closes the enlarged image
      var goBackBtn = document.getElementById("goBack");
    
      // When the user clicks on the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }
    
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
        // Add this to clear search results when the modal is closed
        images = [];
        $("#searchResult").empty();
        $("#myModal .modal-content img").attr("src", "");
      }
    
      // When the user clicks on the "go back" button, close the enlarged image
      goBackBtn.onclick = function() {
        $("#enlargedImage img").attr("src", ""); // Clear the enlarged image
        $("#enlargedImage").hide();  // Hide the enlarged image
        showImages();  // Show the search results again
      }
    
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
          // Add this to clear search results when the modal is closed
          images = [];
          $("#searchResult").empty();
          $("#myModal .modal-content img").attr("src", "");
        }
      }
    
      var images = [];
      var visibleImages = 8;
      var searchSource = '';
    
      function showImages() {
        $("#searchResult").empty();
        for (var i = 0; i < visibleImages && i < images.length; i++) {
          var img = $('<img />', { 
            'src': searchSource === 'kakao' ? images[i]['image_url'] : images[i]['link'], 
            'alt': searchSource === 'kakao' ? images[i]['display_sitename'] : images[i]['title']
          });
          $('#searchResult').append(img);
        }
      }
      
      $("#loadMore").click(function() {
        visibleImages += 8;
        showImages();
      });
    
      $("#kakaoSearchButton").click(function() {
        searchSource = 'kakao';
        searchImages("{% url 'tcat:kakao_image_search' %}");
      });
    
      $("#naverSearchButton").click(function() {
        searchSource = 'naver';
        searchImages("{% url 'tcat:naver_image_search' %}");
      });
    
      function searchImages(url) {
        var query = $("#query").val();
    
        $.ajax({
          url: url,
          data: {
            'query': query,
            'resolution': 'high'
          },
          dataType: 'json',
          success: function(data) {
            images = searchSource === 'kakao' ? data['documents'] : data['items'];
            visibleImages = 8;
            showImages();
          }
        });
      }
    
      // 이미지를 클릭할 때 모달을 표시하는 이벤트 리스너를 추가
      $("#searchResult").on("click", "img", function() {
        var src = $(this).attr("src");  // 클릭한 이미지의 URL을 가져옴
        var filename = $(this).attr("alt");
        $("#enlargedImage img").attr("src", src);  // Enlarged image의 src를 변경
        $("#searchResult").empty();  // 검색 결과를 비움
        $("#enlargedImage").show();  // Show the enlarged image

        $("#filename").text(filename);
        
        // 모달 닫기
        $("#myModal").hide();
      });
    
      // 모달 외부를 클릭하면 모달을 숨김
      $(window).click(function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
          // Add this to clear search results when the modal is closed
          images = [];
          $("#searchResult").empty();
          $("#myModal .modal-content img").attr("src", "");
        }
      });
    </script>
    <script>
      $("#searchResult").on("click", "img", function() {
        var src = $(this).attr("src");  
        $("#enlargedImage img").attr("src", src);  
        $("#searchResult").empty();  
        $("#enlargedImage").show();  
        $("#selectedImage").val(src);
      });
      
    </script>
  </div>
</div>

{% endblock content %}


{% block javascript %}
  <script type="text/javascript" src="{% static 'js/create.js' %}"></script>
  <script src='{% static "js/calendar.js" %}'></script> <!-- 달력 -->
{% endblock javascript %}