{% extends 'base.html' %}
{% load static %}

{% block style %}

<!-- Bootstrap Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock style %}


{% block content %}

<div>
  <!-- 캘린더 -->
  <div class='mb-2 d-flex justify-content-between align-items-center' style='min-width: 1030px;'>

    <div class="dropdown d-flex align-items-center">
      <p style='font-size: 25px;'>
        <i class="fa-regular fa-calendar-days"></i> 나의 캘린더 
      </p>
      <div class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      </div>
      <ul class="dropdown-menu" style='width: 210px;'>
        <li>
          <p class='p-3 m-0'>캘린더 내의 날짜를 클릭하거나, 오른쪽 Menu에서 기록 생성하기 버튼으로 회원님의 기록을 생성할 수 있습니다.</p>
        </li>
      </ul>
    </div>    
    
    <div>
      <!-- Menu 버튼 -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style='background-color: var(--main-color);'>Menu</button>
        <ul class="dropdown-menu">
          <li onclick="window.location.href = '{% url 'tcat:create' %}';">
            <a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square"></i> 기록 생성하기</a>
          </li>

          <li id="save">
            <a class="dropdown-item" href="#"><i class="fa-solid fa-camera"></i> 캘린더 캡쳐</a>
          </li>

          <li>
            <a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa-regular fa-clipboard"></i> 기록 모아보기</a>
          </li>
        </ul>
      </div>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasScrollingLabel">내 기록 모아보기</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class='mt-1 mb-1' style='border-top: 1px solid black'>
        
        <!-- offcanvas 기록 모아보기 -->
        <div class="offcanvas-body">
          {% if request.user.is_authenticated %}
            {% for tcat in tcats %}
              {% if tcat.user.pk == request.user.pk %}
                {% if tcat.image and tcat.web_image %}
                  <div>
                    <a href="{% url 'tcat:detail' tcat.pk %}">
                      <img src="{{ tcat.image.url }}" alt="이미지" style='width: 360px; height: 260px;'>
                      <p>{{ tcat.title }}</p>
                      <p>{{ tcat.date }}</p>
                      <hr class='mt-1' style='border-top: 1px solid gray'>
                    </a>
                  </div>
                {% elif tcat.image %}
                  <div>
                    <a href="{% url 'tcat:detail' tcat.pk %}">
                      <img src="{{ tcat.image.url }}" alt="" style='width: 360px; height: 260px;'>
                      <p>{{ tcat.title }}</p>
                      <p>{{ tcat.date }}</p>
                      <hr class='mt-1' style='border-top: 1px solid gray'>
                    </a>
                  </div>
                {% elif tcat.web_image %}
                  <div>
                    <a href="{% url 'tcat:detail' tcat.pk %}">
                      <img src="{{ tcat.web_image.url }}" alt="" style='width: 360px; height: 260px;'>
                      <p>{{ tcat.title }}</p>
                      <p>{{ tcat.date }}</p>
                      <hr class='mt-1' style='border-top: 1px solid gray'>
                    </a>
                  </div>
                {% endif %}
              {% else %}
                {% if forloop.counter == 1 %}
                  <img src="{% static 'image/create.png' %}" alt="" style='width: 360px; height: 260px;'>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% else %}
            <img src="{% static 'image/need_login2.png' %}" alt="" style='width: 360px; height: 260px;'>
          {% endif %}

          
        </div>
      </div>
    </div>

    {% comment %} <button class='p-2 me-2' type="button" id="save" style='border: 0; border-radius: 5px; background-color: white'><i class="fa-solid fa-camera"></i> 캘린더 캡쳐</button>
    
    <button class='p-2' onclick="window.location.href = '{% url 'tcat:create' %}';" style='color: white; border:0; border-radius: 5px; background-color: var(--main-color);'>기록 생성하기</button> {% endcomment %}
  </div>

  <div class="header-datepicker" style='min-width: 1030px;'>
    <input type="text" class="datepicker" data-provide="datepicker">
    <div id="calendar"></div>
  </div>

  <!-- 모달 HTML -->
  <div class="modal" id="eventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalDate"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-row event-separator">
            <img class="col-md-5 modal-img" id="modalImage" src="" alt="Event Image">
            <div class="row">
              <h5 class="modal-title" id="modalTitle"></h5>
              <div class="modalLocation" id="modalLocation"></div>
              <div class="modalReview" id="modalReview"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <hr class='mt-5' style='min-width: 1030px; border-top: 1px solid black'>
  <h2 class='mt-4 mb-4'>티켓 Ranking <i class="fa-solid fa-crown"></i></h2>
  <hr class='mt-3 mb-4' style='min-width: 1030px; border-top: 1px solid black'>
  
  <!-- 티켓 리스트 -->
  <div style='min-width: 1030px;'>
    <h3 class='index__ranking mb-4'><i class="fa-solid fa-ticket"></i> 종합</h3>
    <div class='d-flex'>
      {% for item in interpark_total %}
      <div class='index__preform--div me-4'>
        <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
          <img class='index__perform--img p-2' src="{{ item.image }}" alt="...">
          <div class='p-2'>
            <p class='index__perform--font'><b>{{ item.title }}</b></p>
            <p class='index__perform--font'>기간: {{ item.period }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <h3 class='index__ranking mb-4 mt-4'><i class="fa-solid fa-baseball"></i> 스포츠</h3>
    <div class='d-flex'>
    {% for item in interpark_sport %}
      <div class='index__preform--div me-4'>
        <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
          <img class='index__perform--img p-2' src="{{ item.image }}" alt="...">
          <div class='p-2'>
            <p class='index__perform--font'><b>{{ item.title }}</b></p>
            <p class='index__perform--font'>기간: {{ item.period }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>

    <h3 class='index__ranking mb-4 mt-4'><i class="fa-solid fa-film"></i> 전시 / 행사</h3>
    <div class='d-flex'>
    {% for item in interpark_exhibitions %}
      <div class='index__preform--div me-4'>
        <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
          <img class='index__perform--img p-2' src="{{ item.image }}" alt="...">
          <div class='p-2'>
            <p class='index__perform--font'><b>{{ item.title }}</b></p>
            <p class='index__perform--font'>기간: {{ item.period }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>

  <hr class='mt-4' style='min-width: 1030px; border-top: 1px solid black'>
  <h2 class='mt-4 mb-4'>월별 그래프 <i class="fa-solid fa-chart-simple"></i></h2>
  <hr class='mt-3 mb-3' style='min-width: 1030px; border-top: 1px solid black'>

  <!-- 그래프 -->
  {% if request.user.is_authenticated %}
    <div class='mt-4 d-flex flex-column align-items-center' style='min-width: 1030px;'>
      <div>
        <p class='index__graph--info'><i class="fa-solid fa-coins"></i><b> 총 사용액</b></p>
        <button class='index__graph--btn me-1 mt-2 mb-2' id="prevYearExpenses">이전 연도</button>

        <span class='index__graph--year' id="currentYearExpenses"></span>

        <button class='index__graph--btn ms-1' id="nextYearExpenses">다음 연도</button>

        <div style="width: 900px; height: 550px;">
          <canvas id="myChartExpenses"></canvas>
        </div>
      </div>

      <div>
        <p class='index__graph--info'><i class="fa-regular fa-images"></i><b> 총 게시물 수</b></p>
        <button class='index__graph--btn me-1 mt-2 mb-2' id="prevYearPosts">이전 연도</button>

        <span class='index__graph--year' id="currentYearPosts"></span>

        <button class='index__graph--btn ms-1' id="nextYearPosts">다음 연도</button>

        <div style="width: 900px; height: 550px;">
          <canvas id="myChartPosts"></canvas>
        </div>
      </div>
    </div>

  {% else %}
    <div class='d-flex justify-content-center' style='min-width: 1030px;'>
      <img src="{% static 'image/need_login.png' %}" alt="">
    </div>
  {% endif %}

</div>

<script>
  var staticPath = "{% static 'image/noimg.png' %}";
</script>

{% endblock content %}




{% block javascript %}
<!-- 그래프 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src='{% static "js/index.js" %}'></script>
<script src='{% static "js/index2.js" %}'></script>
<!-- moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- FullCalendar -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.8/index.global.min.js'></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Bootstrap Datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>
<script src="https://kit.fontawesome.com/7c2def04d0.js" crossorigin="anonymous"></script>
<!-- HTML2Canvas -->
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script src='{% static "js/index.global.js" %}'></script> <!-- 달력 -->
<script src='{% static "js/calendar.js" %}'></script> <!-- 달력 -->
{% endblock javascript %}
