{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 190px;
}
</style>
{% endblock style %}


{% block content %}


<input type="text" name="date_field" class="datepicker" data-provide="datepicker">


<div id='calendar'></div>

<button onclick="window.location.href = '{% url 'tcat:create' %}';">이동</button>

<h1>전체</h1>
<div style="display: flex; flex-wrap: nowrap; justify-content: flex-start;">
  {% for item in interpark_total %}
  <div>
    <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
      <img src="{{ item.image }}" alt="...">
      <p>제목: {{ item.title }}</p>
      <p>기간: {{ item.period }}</p>
    </a>
  </div>
  {% endfor %}
</div>

<h1>스포츠</h1>
  <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start;">
  {% for item in interpark_sport %}
  <div>
    <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
      <img src="{{ item.image }}" alt="...">
      <p>제목: {{ item.title }}</p>
      <p>기간: {{ item.period }}</p>
    </a>
  </div>
{% endfor %}
</div>

<h1>전시 / 행사</h1>
  <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start;">
  {% for item in interpark_exhibitions %}
  <div>
    <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
      <img src="{{ item.image }}" alt="...">
      <p>제목: {{ item.title }}</p>
      <p>기간: {{ item.period }}</p>
    </a>
  </div>
{% endfor %}
</div>

{% endblock content %}

{% block javascript %}
<script src='{% static "js/index.global.js" %}'></script> <!-- 달력 -->
<script src='{% static "js/calendar.js" %}'></script> <!-- 달력 -->
{% endblock javascript %}