{% extends 'base.html' %}
{% load static %}

{% block style %}

<!-- Bootstrap Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<style>
  .dropdown-toggle::after {
    content: none;
  }
</style>

{% endblock style %}


{% block content %}

<div>
  <!-- 캘린더 -->
  <div class='mb-2 d-flex justify-content-between align-items-center' style='min-width: 1030px;'>

    <div class="dropdown d-flex">
      <p style='font-size: 25px;'>
        <i class="fa-regular fa-calendar-days"></i> 나의 캘린더 
      </p>
      <div class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 5px;
      padding-top: 10px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
      </div>
      <ul class="dropdown-menu" style='width: 440px;'>
        <li>
          <p class='p-3 m-0'>캘린더 내의 날짜를 클릭하거나, 오른쪽 Menu에서 기록 생성하기 버튼으로 회원님의 기록을 생성할 수 있습니다.</p>
          <p class='p-3 m-0'>일지를 기록하고 캘린더에 표시된 사진을 드래그하여 사용자가 원하는 다른 날짜로 사진을 이동할 수 있습니다.</p>
        </li>
      </ul>
    </div>    
    
    <div>
      <!-- Menu 버튼 -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style='background-color: var(--main-color);'>Menu</button>
        <ul class="dropdown-menu">
          <li onclick="createDate();">
            <a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square"></i> 기록 생성하기</a>
          </li>

          <li id="save">
            <a class="dropdown-item" href="#"><i class="fa-solid fa-camera"></i> 캘린더 캡쳐</a>
          </li>

          <li>
            <a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa-regular fa-clipboard"></i> 기록 모아보기</a>
          </li>
        </ul>
      </div>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasScrollingLabel">내 기록 모아보기</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class='mt-1 mb-1' style='border-top: 1px solid black'>

        <!-- offcanvas 기록 모아보기 -->

        <div class="offcanvas-body">
          {% if request.user.is_authenticated %}
            {% if tcats %}
              {% for tcat in tcats %}
                {% if tcat.image %}

                  <!-- 일반 이미지 있을 때  -->
                  <div class="card mb-2" style="width: 342px;">
                    <a href="{% url 'tcat:detail' tcat.pk %}">
                      <img src="{{ tcat.image.url }}" class="card-img-top" alt="" style='width: 340px; border-radius: 5px;'>
                      <div class="card-body p-3">                  
                        <p class='index__offcanvas--p-title'>{{ tcat.title }}</p>
                        <p class='index__offcanvas--p'>{{ tcat.categori }} {% if tcat.location %} / <span>{{ tcat.location }}</span>{% endif %}</p>
                        <p class='index__offcanvas--p-date'>{{ tcat.date }}</p>
                      </div>
                    </a>  
                  </div>

                  {% comment %} <div>
                    <a href="{% url 'tcat:detail' tcat.pk %}">
                      <img src="{{ tcat.image.url }}" alt="" style='width: 340px;'>
                      <p>{{ tcat.title }}</p>
                      <p>{{ tcat.date }}</p>
                    </a>  
                    <hr class='mt-1' style='border-top: 1px solid gray'>
                  </div> {% endcomment %}

                <!-- 웹 이미지 있을 때 -->
                {% elif tcat.web_image %}
                  <div class="card mb-2" style="width: 342px;">
                    <a href="{% url 'tcat:detail' tcat.pk %}">
                      <img src="{{ tcat.web_image.url }}" class="card-img-top" alt="" style='width: 340px; border-radius: 5px;'>
                      <div class="card-body p-3">
                        <p class='index__offcanvas--p-title'>{{ tcat.title }}</p>
                        <p class='index__offcanvas--p'>{{ tcat.categori }} {% if tcat.location %} / <span>{{ tcat.location }}</span>{% endif %}</p>
                        <p class='index__offcanvas--p-date'>{{ tcat.date }}</p>
                      </div>
                    </a>                      
                  </div>

                <!-- 일반 이미지 & 웹 이미지 있을 때 -->
                {% elif tcat.web.image and tcat.image %}
                  <div class="card mb-2" style="width: 342px;">
                    <a href="{% url 'tcat:detail' tcat.pk %}">
                      <img src="{{ tcat.image.url }}" class="card-img-top" alt="" style='width: 340px; border-radius: 5px;'>
                      <div class="card-body p-3">
                        <p class='index__offcanvas--p-title'>{{ tcat.title }}</p>
                        <p class='index__offcanvas--p'>{{ tcat.categori }} {% if tcat.location %} / <span>{{ tcat.location }}</span>{% endif %}</p>
                        <p class='index__offcanvas--p-date'>{{ tcat.date }}</p>
                      </div>
                    </a>  
                  </div>
      
                <!-- 이미지 없을 때 -->
                {% else %}
                  <div class="card mb-2" style="width: 342px;">
                    <a href="{% url 'tcat:detail' tcat.pk %}">
                      <div class="card-body p-3">
                        <p class='index__offcanvas--p-title'>{{ tcat.title }}</p>
                        <p class='index__offcanvas--p'>{{ tcat.categori }} {% if tcat.location %} / <span>{{ tcat.location }}</span>{% endif %}</p>
                        <p class='index__offcanvas--p-date'>{{ tcat.date }}</p>
                      </div>
                    </a>  
                  </div>
                {% endif %}   
              {% endfor %}
              
            <!-- 등록된 글이 없을 때 -->
            {% else %}
              <img src="{% static 'image/create.png' %}" alt="게시글이 없을때" style='width: 360px; height: 260px;'>                 
            {% endif %}
        
          <!-- 로그인 안했을 때 -->
          {% else %}
            <img src="{% static 'image/need_login2.png' %}" alt="로그인안했을때" style='width: 360px; height: 260px;'>
          {% endif %}


          {% comment %} <div class="offcanvas-body">
            {% if request.user.is_authenticated %}
              {% for tcat in tcats %}
                {% if tcat.user.pk == request.user.pk %}
                  {% if tcat.image and tcat.web_image %}
                    <div>
                      <a href="{% url 'tcat:detail' tcat.pk %}">
                        <img src="{{ tcat.image.url }}" alt="이미지" style='width: 360px; height: 260px;'>
                        <p>{{ tcat.title }}</p>
                        <p>{{ tcat.date }}</p>
                        <hr class='mt-1' style='border-top: 1px solid gray'>
                      </a>
                    </div>
                  {% elif tcat.image %}
                    <div>
                      <a href="{% url 'tcat:detail' tcat.pk %}">
                        <img src="{{ tcat.image.url }}" alt="" style='width: 360px; height: 260px;'>
                        <p>{{ tcat.title }}</p>
                        <p>{{ tcat.date }}</p>
                        <hr class='mt-1' style='border-top: 1px solid gray'>
                      </a>
                    </div>
                  {% elif tcat.web_image %}
                    <div>
                      <a href="{% url 'tcat:detail' tcat.pk %}">
                        <img src="{{ tcat.web_image.url }}" alt="" style='width: 360px; height: 260px;'>
                        <p>{{ tcat.title }}</p>
                        <p>{{ tcat.date }}</p>
                        <hr class='mt-1' style='border-top: 1px solid gray'>
                      </a>
                    </div>
                  {% else %}
                    <div>
                      <a href="{% url 'tcat:detail' tcat.pk %}">
                        <p>{{ tcat.title }}</p>
                        <p>{{ tcat.date }}</p>
                        <hr class='mt-1' style='border-top: 1px solid gray'>
                      </a>
                    </div>
                  {% endif %}
                {% else %}
                  {% if forloop.counter == 1 %}
                    <img src="{% static 'image/create.png' %}" alt="" style='width: 360px; height: 260px;'>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% else %}
              <img src="{% static 'image/need_login2.png' %}" alt="" style='width: 360px; height: 260px;'>
            {% endif %}
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <div class="header-datepicker" style='min-width: 1030px;'>
    <input type="text" class="datepicker" data-provide="datepicker">
    <div id="calendar"></div>
  </div>

  <!-- 모달 HTML -->
  <div class="modal" id="eventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalDate"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-row event-separator">
            <img class="col-md-5 modal-img" id="modalImage" src="" alt="Event Image">
            <div class="row">
              <h5 class="modal-title" id="modalTitle"></h5>
              <div class="modalLocation" id="modalLocation"></div>
              <div class="modalReview" id="modalReview"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <hr class='mt-5' style='min-width: 1030px; border-top: 1px solid black'>
  <h2 class='mt-4 mb-4'>티켓 Ranking <i class="fa-solid fa-crown"></i></h2>
  <hr class='mt-3 mb-4' style='min-width: 1030px; border-top: 1px solid black'>
  
  <!-- 티켓 리스트 -->
  <div style='min-width: 1030px;'>
    <h3 class='index__ranking mb-4'><i class="fa-solid fa-ticket"></i> 종합</h3>
    <div class='d-flex'>
      {% for item in interpark_total %}
      <div class='index__preform--div me-4'>
        <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
          <img class='index__perform--img p-2' src="{{ item.image }}" alt="...">
          <div class='p-2'>
            <p class='index__perform--font'><b>{{ item.title }}</b></p>
            <p class='index__perform--font'>기간: {{ item.period }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <h3 class='index__ranking mb-4 mt-4'><i class="fa-solid fa-baseball"></i> 스포츠</h3>
    <div class='d-flex'>
    {% for item in interpark_sport %}
      <div class='index__preform--div me-4'>
        <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
          <img class='index__perform--img p-2' src="{{ item.image }}" alt="...">
          <div class='p-2'>
            <p class='index__perform--font'><b>{{ item.title }}</b></p>
            <p class='index__perform--font'>기간: {{ item.period }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>

    <h3 class='index__ranking mb-4 mt-4'><i class="fa-solid fa-film"></i> 전시 / 행사</h3>
    <div class='d-flex'>
    {% for item in interpark_exhibitions %}
      <div class='index__preform--div me-4'>
        <a href="https://tickets.interpark.com/goods/{{ item.product_link }}">
          <img class='index__perform--img p-2' src="{{ item.image }}" alt="...">
          <div class='p-2'>
            <p class='index__perform--font'><b>{{ item.title }}</b></p>
            <p class='index__perform--font'>기간: {{ item.period }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>

  <hr class='mt-4' style='min-width: 1030px; border-top: 1px solid black'>
  <div class='mt-4 mb-4 d-flex align-items-center'>
    <p style='margin-bottom: 0px; margin-right: 6px; font-size: 32px;'>월별 그래프</p> 
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
    <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
  </svg></div>
  <hr class='mt-3 mb-3' style='min-width: 1030px; border-top: 1px solid black'>

  <!-- 그래프 -->
  {% if request.user.is_authenticated %}
    <div class='mt-4 d-flex flex-column align-items-center' style='min-width: 1030px;'>
      <div>

        <p class='index__graph--info d-flex align-items-center'>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
          </svg>
          <b class='ms-1'>총 사용액</b>
        </p>
        <button class='index__graph--btn me-1 mt-2 mb-2' id="prevYearExpenses">이전 년도</button>

        <span class='index__graph--year' id="currentYearExpenses"></span>

        <button class='index__graph--btn ms-1' id="nextYearExpenses">다음 연도</button>

        <div style="width: 900px; height: 550px;">
          <canvas id="myChartExpenses"></canvas>
        </div>
      </div>

      <div>

        <p class='index__graph--info d-flex align-items-center'>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
            <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
          </svg>
          <b class='ms-1'> 총 게시물 수</b>
        </p>
        <button class='index__graph--btn me-1 mt-2 mb-2' id="prevYearPosts">이전 년도</button>

        <span class='index__graph--year' id="currentYearPosts"></span>

        <button class='index__graph--btn ms-1' id="nextYearPosts">다음 연도</button>

        <div style="width: 900px; height: 550px;">
          <canvas id="myChartPosts"></canvas>
        </div>
      </div>
    </div>

  {% else %}
    <div class='d-flex justify-content-center' style='min-width: 1030px;'>
      <img src="{% static 'image/need_login.png' %}" alt="">
    </div>
  {% endif %}

</div>

<script>
  var staticPath = "{% static 'image/noimg.png' %}";
  function createDate(url) {
    localStorage.setItem('isDateClicked', true);
    localStorage.removeItem('selectedDate');
    window.location.href = '/tcat/create/';
  }
  var staticPath = "{% static 'image/noImg.png' %}";
</script>

{% endblock content %}




{% block javascript %}
<!-- 그래프 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src='{% static "js/index.js" %}'></script>
<script src='{% static "js/index2.js" %}'></script>
<!-- moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- FullCalendar -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.8/index.global.min.js'></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Bootstrap Datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>
<script src="https://kit.fontawesome.com/7c2def04d0.js" crossorigin="anonymous"></script>
<!-- HTML2Canvas -->
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script src='{% static "js/index.global.js" %}'></script> <!-- 달력 -->
<script src='{% static "js/calendar.js" %}'></script> <!-- 달력 -->
{% endblock javascript %}
