{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock style %}


{% block content %}
  <div class="create__total">
    <!--header-->
    <div class="create__header">
      <div><a class="create__header--text" href="{% url 'tcat:index' %}">취소</a></div>
      <div class="create__header--title">기록 추가</div>
    </div>

    <!--main-->
    <form id="tcatForm" action="{% url 'tcat:update' tcat.pk %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="create__main">
        <!--image-->
        <div class="d-flex main__image">
          <button id="webImageButton">웹 이미지</button>
          <div>{{ form.image }}앨범사진</div>
        </div>

        <!--contents-->
        <div class="main__contents">
          <div class="contents__title">
            <div class="contents__title--title">제목</div>
            <div class="contents__title--input">{{form.title}}</div>
          </div>
          <div class="d-flex contents__date">
            <div class="contents__title--title">일시</div>
            <input type="date" name="date" value="{{ tcat.date|date:'Y-m-d' }}">
          </div>
          <div class="d-flex contents__location">
            <div class="contents__title--title">장소</div>
            <div>{{ form.location }}</div>
          </div>
          <div class="d-flex contents__price">
            <div class="contents__title--title">금액</div>
            <div>{{ form.price }}</div>
          </div>
          <div class="d-flex contents__categori">
            <div class="contents__title--title">카테고리</div>
            <div>{{ form.categori }}</div>
          </div>
          <div id="new_add">
          </div>
          <div class="contents__add">
            <input type="button" value="+ 추가" onclick='createDiv()'>
            <input type="button" value="- 삭제" onclick="deleteDiv()">
          </div>
          <div class="d-flex contents__review">
            {{ form.media }}
            <div>{{ form.review }}</div>
          </div>
        </div>
      </div>
      <input type="submit" value="등록" class="main__input">
    </form>    
  </div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <!-- 통합 검색 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <form id="searchForm">
      <input type="text" id="query" placeholder="검색어를 입력하세요">
    </form>
    <div>
      <button id="kakaoSearchButton">카카오 검색</button>
      <button id="naverSearchButton">네이버 검색</button>
    </div>
    <button id="loadMore">더보기</button>
    
    <div id="searchResult"></div>
    
    <script>
    var images = [];
    var visibleImages = 8;
    var searchSource = '';
    
    function showImages() {
        $("#searchResult").empty();
        for (var i = 0; i < visibleImages && i < images.length; i++) {
            var img = $('<img />', { 
              'src': searchSource === 'kakao' ? images[i]['thumbnail_url'] : images[i]['thumbnail'], 
              'alt': searchSource === 'kakao' ? images[i]['display_sitename'] : images[i]['title']
            });
            $('#searchResult').append(img);
        }
    }
    
    $("#loadMore").click(function() {
        visibleImages += 8;
        showImages();
    });
    
    $("#kakaoSearchButton").click(function() {
        searchSource = 'kakao';
        searchImages("{% url 'tcat:kakao_image_search' %}");
    });

    $("#naverSearchButton").click(function() {
        searchSource = 'naver';
        searchImages("{% url 'tcat:naver_image_search' %}");
    });

    function searchImages(url) {
        var query = $("#query").val();
    
        $.ajax({
            url: url,
            data: {
              'query': query
            },
            dataType: 'json',
            success: function(data) {
              images = searchSource === 'kakao' ? data['documents'] : data['items'];
              visibleImages = 8;
              showImages();
            }
        });
    }
    </script>
  </div>


</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("webImageButton");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>


{% endblock content %}


{% block javascript %}
  <script type="text/javascript" src="{% static 'js/create.js' %}"></script>

{% endblock javascript %}